
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>hello</title>
</head>
<body>
    <div> 
        hello world(from this view);
        @ViewBag.Greeting World(from the view)
        @Html.ActionLink("RSVP NOW","RsvpForm")
    </div>
</body>
</html>
