@model scan_order.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank</title>
</head>
<body>
    <div> 
        <h1>
            Thank you,@Model.Name!
        </h1>
        @if (Model.WillAttend == true)
        {
            @:it's great that you're coming
        }
        else
        {
            @:sorry to hear that 
        }
    </div>
</body>
</html>
