@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>
    <textarea id="TextArea1" rows="2" cols="20"></textarea>
</h4>
<p>Use this area to provide additional information.</p>
